<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light"><strong>Home</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-img src="../assets/sportnews.png"></ion-img>

  <h5 class="ion-text-center">Fique por dentro das últimas notícias relacionada a todos os esportes.</h5>

  <div id="container">
    <p>Versão: 1.0</p>
    <p class="ion-padding-bottom">© Developer: Gabriel Ferreira Soares</p>
    <a class="ion-padding" target="_blank" href="https://www.linkedin.com/in/gabriel-soares-/"><ion-icon size="large" name="logo-linkedin" color="dark" ></ion-icon></a>
    <a class="ion-padding" target="_blank" href="https://api.whatsapp.com/send?phone=5521984556202"><ion-icon size="large" name="logo-whatsapp" color="dark" ></ion-icon></a>
    <a class="ion-padding" href=mailto:gabrielsoares2703@gmail.com><ion-icon size="large" name="mail-outline" color="dark" ></ion-icon></a>
  </div>
</ion-content>
